@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.tbl {
  width: 790px !important;
  height: 150px !important;
  background-color: #d4e5ff !important;
  display: none;
}

.is-visible {
    display: block;
}


.monitor {
  width: 700px;
  height: 100px;
  background-color: #344151;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

p {
  font-family: "VT323", monospace !important;
  font-size: 60px !important;
  position: relative !important;
  display: inline-block !important;
  animation: move 20s infinite linear;
  color: #ebb55f !important;
  /* background-color: #344151 !important; */
}


.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@keyframes move {
  from {
    left: 750px;
  }

  to {
    left: -600px;
  }
}

@media screen and (max-width: 546px) {
  .tbl {
    width: 300px !important;
  }
  .monitor {
    width: 300px !important;
  }
}